<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference rooms reservations</title>
</head>
<style>
</style>
<body>
    {% if rooms %}
    <p>Avaiable rooms:</p>
    <ul>
        {% for room in rooms %}
        <li>
        Room <a href="/room/{{room.id}}"> {{room.name}}</a><br>
        Size: {{room.size}}<br>
        Avaiable: <br>
        Projector installed: {% if room.projector %} Yes {% else %} No {% endif %}<br>
        <a href="/room/modify/{{room.id}}">Edit</a>  
        <a href="/room/delete/{{room.id}}">Delete</a>  
        <a href="/room/reserve/{{room.id}}">Reserve</a>

        </li>
        {%endfor%}
    </ul><br>
    {% elif empty %}
    <p>{{empty}}</p>
    {% endif %}
    <a href="http://localhost:8000/room/new/"><p>Add room</p></a>
    <footer>Author: Dominik Popławski.</footer>
</body>
</html>