<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve the room</title>
</head>
<body>
    <a href="/room/"><p>Back</p></a>
    {% if err %}
    <p>{{err}}</p>
    {% endif %}
    <form action="/room/reserve/{{id}}" method="POST">
    <label for="comm">Comment:</label><br>
    <input type="text" name="comm" id="comm"><br>
    <label for="date">Date</label><br>
    <input type="date" name="date" id="date"><br>
    <button type="submit">Save</button>
        {% csrf_token %}
    </form>
    <p>Future reservations:</p>
    {%if not room.reservation_set.all%}
    <p>No reservations</p>
    {%else%}
        <ul>
        {% for i in room.reservation_set.all %}
            {% if date_now <= i.date %}
                <li>
                    {{ i.date }}<br>
                    Comment: {{i.comment}}<br> 
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {%endif%}
</body>
</html>